:root {
  /* fonts */

  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --brand-color: #2196f3;
  --text-color: #212121;
  --accent-color: #ffffff;
  --accent-hover-color: #188ce8;

  /* bg-colors */
  --footer-color: #2f303a;
  --button-accent: #f5f4fa;
  --body-color: #757575;
  --section-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--body-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*  */
/* оформляем index.html */
/*  */
/* header */
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  align-items: center;
  height: 80px;
}

.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}
.nav-item + .nav-item {
  margin-left: 50px;
}

.logo-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--brand-color);
}

.logo-web:hover,
.logo-web:focus {
  color: var(--brand-color);
}

.logo-studio {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--text-color);
}

.nav {
  display: flex;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.nav-link.current {
  color: var(--brand-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.02em;
  list-style: none;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--body-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}

/* hero */
.hero-title {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-color);
}

.hero-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero-title-button {
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color);
  cursor: pointer;
}

.hero-title-button:hover,
.hero-title-button:focus {
  /* color: var(--accent-color); */
  background-color: var(--accent-hover-color);
}

/*    features    */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
  list-style-type: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.features-descr {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
/*    work    */
.work-title-section,
.team-title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-section {
  margin-bottom: 94px;
}

.work-list,
.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  list-style-type: none;
}

.work-item + .work-item {
  margin-left: 30px;
}

/*   team-page    */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-color);
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--accent-color);
  border: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-desc {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.footer-page {
  display: flex;
  flex-direction: column;
}

.logo-studio-footer {
  color: var(--accent-color);
}

.contacts-footer {
  margin-top: 20px;
  font-family: var(--main-font);
  font-style: normal;
  list-style-type: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.contacts-footer-item + .contacts-footer-item {
  margin-top: 9px;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--brand-color);
}

/*  */
/*  оформляем portfolio.html */
/*   */

.filters {
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color);
  list-style-type: none;
}

.filters-item + .filters-item {
  margin-left: 8px;
}

.filters-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--brand-color);
  color: var(--accent-color);
  border: none;
}

.filters-button.current {
  color: var(--button-accent);
  background-color: var(--brand-color);
}

.project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-block {
  padding-bottom: 94px;
  flex-wrap: wrap;
  list-style-type: none;
}

.project-block-item {
  margin-right: 30px;
  margin-bottom: 30px;
  /* width: calc(100% / 3 - 60px); */
}

.project-block-item:nth-child(3n) {
  margin-right: 0;
}

.project-block-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-set {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  /* flex-basis: calc(100% / 3 - 60px); */
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.progect-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
